<main>
  <%= render 'shared/header', title: 'Chefs' %>

  <div class="text-center">
    <%= will_paginate %>
  </div>

  <%= div_for @chefs, class: 'row' do |chef| %>
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= link_to gravatar_for(chef, size: 200), chef %>
      <h4><%= chef.name %></h4>
    </div>
  <% end %>

  <%= render 'shared/fab', title: 'Add a Chef', path: register_path, icon: 'glyphicon glyphicon-plus' %>
</main>