<%= render 'shared/errors', object: @recipe %>

<div class="row">

  <div class="well col-md-8 col-md-offset-2">

    <%= form_for @recipe, html: { multipart: true } do |f| %>

      <div class="form-group">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :summary, class: 'form-label' %>
        <%= f.text_field :summary, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_area :description, class: 'form-control', rows: 10 %>
      </div>

      <div class="form-group">
        <%= f.label :picture, class: 'form-label' %>
        <span class="picture"><%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %></span>
      </div>

      <%= f.submit (@recipe.new_record? ? 'Create' : 'Edit'), class: 'btn btn-success form-control' %>

    <% end %>

  </div>

</div>