<main>

  <%= render 'shared/header', title: 'Recipes' %>

  <div class="text-center">
    <%= will_paginate %>
  </div>

  <%= div_for @recipes, class: 'row article' do |recipe| %>

    <div class="col-md-2">

      <%= div_for recipe.chef, class: 'chef-info text-center' do %>

        <%= gravatar_for recipe.chef, size: 100 %>
        <h5><%= recipe.chef.name %></h5>

      <% end %>

    </div>

    <%= div_for recipe, class: 'col-lg-10 recipe well' do %>

      <h4>
        <%= link_to recipe.name, recipe_path(recipe) %>
        <%= image_tag recipe.picture.url, size: '200x150', class: 'preview pull-right' if recipe.picture? %>
      </h4>
      <%= simple_format recipe.summary %>
      <div style="clear: right"></div>
      <span class="pull-right help-block">

        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
        <%= recipe.liked %>
        &nbsp;
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
        <%= recipe.disliked %>

      </span>

    <% end %>

  <% end %>

  <div class="text-center">
    <%= will_paginate %>
  </div>

  <%= render 'shared/fab', title: 'Add a Recipe', path: new_recipe_path, icon: 'glyphicon glyphicon-plus' %>

</main>