<main>

  <article>

    <%= render 'shared/header', title: @recipe.name %>

    <div class="row">

      <!-- User details to the right of the recipe information. -->
      <div class="col-md-4 pull-right text-center">

        <%= link_to gravatar_for(@recipe.chef, size: 200), @recipe.chef %>
        <h5><%= @recipe.chef.name %></h5>

      </div>

      <div class="col-md-8">

        <p class="lead"><%= @recipe.summary %></p>
        <section class="well">

          <p><strong>Steps</strong></p>
          <%= simple_format @recipe.description %>

          <div class="pull-right">

            <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
            <%= @recipe.liked %>
            &nbsp;
            <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
            <%= @recipe.disliked %>

          </div>

        </section>

      </div>

    </div>

    <!-- Edit Button -->
    <div id="fab">

      <label class="text-capitalize">Edit</label>
      <%= link_to edit_recipe_path(@recipe), class: 'btn btn-primary' do %>

        <i class="glyphicon glyphicon-edit"></i>

      <% end %>

    </div>

  </article>

</main>