<main>

  <article>

    <%= render 'shared/header', title: @recipe.name %>

    <div class="row">

      <!-- User details to the right of the recipe information. -->
      <div class="col-md-4 pull-right text-center">

        <%= link_to gravatar_for(@recipe.chef, size: 200), @recipe.chef %>
        <h5><%= @recipe.chef.name %></h5>

      </div>

      <div class="col-md-8">

        <p class="lead"><%= @recipe.summary %></p>
        <!-- The column class is needed to fix the padding for the like & dislike buttons. -->
        <div class="col-md-12 well">

          <p><strong>Steps</strong></p>
          <%= simple_format @recipe.description %>

          <div style="clear: right;"></div>

          <div class="pull-right">

            <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
            <%= @recipe.liked %>
            &nbsp;
            <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
            <%= @recipe.disliked %>

          </div>

        </div>

      </div>

    </div>

    <!-- Edit Button -->
    <% if current_user == @recipe.chef && logged_in? %>
      <%= render 'shared/fab', title: 'Edit', path: edit_recipe_path, icon: 'glyphicon glyphicon-edit' %>
    <% end %>

  </article>

</main>