<main>

  <article>

    <%= render 'shared/header', title: @recipe.name %>

    <div class="row">

      <!-- User details to the right of the recipe information. -->
      <div class="col-md-4 pull-right text-center">

        <%= gravatar_for @recipe.chef, size: 200 %>
        <h5><%= @recipe.chef.name %></h5>

      </div>

      <div class="col-md-8">

        <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-primary pull-right' %>
        <p class="lead"><%= @recipe.summary %></p>
        <section class="well">

          <p><strong>Steps</strong></p>
          <%= simple_format @recipe.description %>

        </section>

      </div>

    </div>

  </article>

</main>